<%# <%= @question.title%>
<%# <% @question.options.each do |option|
  <%# <div>
    <%# <%= option.option_key
    <%# <%= option.option_text
  <%# </div>
<%# <% end
<%# 
<%# <%= render 'options/form', question: @question
<%# 
<%# <% if @question.options.count >= 2
  <%# <%= form_with(model: [@test, @question], url: test_question_path(@test, @question), method: :patch) do |f|
    <%# <div>
      <%# <%= f.label :correct_option
      <%# <%= f.collection_select :correct_option, @question.options, :option_key, :option_key
    <%# </div>
<%# 
    <%# <div>
      <%# <%= f.submit "Submit"
    <%# </div>
  <%# <% end
  <%# <% else
    <%# <p>Add Atleast 2 Options to Choose Correct Answer.</p>
<%# <% end
<%# <div>