<div class="edit_page_main_div_for_the_option">
  <div class="top_heading_for_current_question">
    Edit Option
  </div>
  <%= form_with(model: [@test, @question, @option], url: test_question_option_path(@test, @question, @option), method: :patch, local: true) do |form| %>
    <div class="question_update_input_div_for_single">
      <%= form.label :option_key ,style: "width : 50%"%>
      <%= form.text_field :option_key , required: :ture , maxlength: 1%>
    </div>

    <div class="question_update_input_div_for_single">
      <%= form.label :option_text , style: "width : 50%"%>
      <%= form.text_field :option_text , required: :true %>
    </div>

    <%= form.submit "Update Option" ,class: "btn btn-success" ,style:"position : relative; left : 50%; transform :translate(-50%); margin-top : 1rem;" %>
  <% end %>
</div>